@model SmkNgawi.DTOs.StudentRegistrationRequest

<h2>Pendaftaran Siswa Baru</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nama Depan:</label>
        <input asp-for="FirstName" required />
    </div>
    
    <div>
        <label>Nama Belakang:</label>
        <input asp-for="LastName" required />
    </div>

    <div>
        <label>Pilih ID Kelas (Contoh: 1):</label>
       <input type="number" asp-for="TargetClassRoomId" value="1" />
       
    </div>
    
    <br/>
    <button type="submit">Simpan</button>
</form>